.hero-section {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #000000;
  height: calc(100vh - 108px);
}

.hero-video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
    /* video ka upper part bachane ke liye */
  object-position: center top;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

@media (max-width: 1400px) {
  .hero-section {
    height: calc(100vh - 90px);
  }
}

@media (max-width: 1024px) {
  .hero-section {
    height: calc(100vh - 76px);
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: calc(100vh - 70px);
  }
}

@media (max-width: 576px) {
  .hero-section {
    height: calc(100vh - 68px);
  }
}